{% extends "base.html" %}
{%block content%}
{% if state %} <p><strong>{{state}}</strong></p>{% endif %}
<form method="post" action="{%url 'issues:listissues'%}">
    {% csrf_token%}
    <label for="repobox" > Repository Name(django/django): </label>
    <input type="text" name="repo" id="repobox"/>
    <input type="submit" value="repo">
</form>

{% if issue %}
    {% for item in issue %}
        <div id={{item.number}}>
            <h3><a href="{% url "issues:issueshome" item.number %}">{{item.title}}</a></h3>
            <p><a href="{%url "issues:issuesupdate" item.number%}">Update Issue</a></p>
            <p>Submitter: {{item.user.login}}</p>
            <p> <a href={{item.url}}> Refer issue on github </a>  </p>
        </div>
    {% endfor %}
{% endif %}
{%endblock%}
